/* Change the font for the entire application */
* {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-background-color: #36393f;
    -fx-text-fill: white;
}

/* Change the background color of the input box */
#inputBox {
    -fx-background-color: #40444b;
}

/* Change the style of the send button */
#sendButton {
    -fx-background-color: #0e358a;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0.5em;
    -fx-border-radius: 5px;
}

/* Change the style of the title */

#salon {

        -fx-background-color: #5865f2; /* couleur de fond */
        -fx-text-fill: white; /* couleur du texte */
        -fx-font-size: 18px; /* taille de police */
        -fx-padding: 10 20; /* marge interne */
        -fx-border-radius: 10px; /* arrondi des bords */
        -fx-background-radius: 5; /* arrondi de la zone de fond */
        -fx-pref-width: 150px; /* largeur préférée */
        -fx-pref-height: 50px; /* hauteur préférée */
}
#scrollpaneSalon{
    -fx-background-color: #202225;
}